/* - Colors ----------------------------------------------------------------- */

.color-primary-0 { color: #3AC03A; }
.color-primary-1 { color: #F6FCF6; }
.color-primary-2 { color: #80DF80; }
.color-primary-3 { color: #0B950B; }
.color-primary-4 { color: #004C00; }

/* - Base styles ------------------------------------------------------------ */

body {
  background-color: #F6FCF6;
}

header .navbar {
  background-color: #004C00;
  border-color: #004C00;
}

header .navbar a {
  color: #ebebeb;
}

header a.navbar-brand {
  color: #F6FCF6;
}

.sidebar {
  background-color: #ebebeb;
  position: fixed;
  height: 100%;
  top: 51px;
}

.sidebar a {
  padding: 10px;
  color: #010101;
  background-color: #0B950B;
  color: white;
}

.sidebar li a:hover {
  background-color: #0B950B;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: black;
  background-color: #F6FCF6;
}

.sidebar ul {
  margin: 0 -15px;
}

.main {
  margin-top: 51px;
  padding-top: 10px;
}

/* - Category styles -------------------------------------------------------- */

.budget-category-box {
  padding: 0 15px;
  background-color: white;
  margin: 0 -5px 10px -5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}

.budget-category-head {
  background-color: #0B950B;
  color: white;
  font-size: 1.5em;
}

.budget-category-head-total {
  text-align: right;
}

.budget-category-body {
}

/* - Line-item styles ------------------------------------------------------- */

.budget-category-body-line-item input[type="text"] {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px 15px;
}

.budget-category-body-line-item select {
  width: 100%;
}

.budget-category-body-line-item > div {
  padding: 0;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}

.budget-category-body-line-item > div:first-child {
  border-left: none;
}

/*
.line-item-description input[type="text"] { background-color: cyan; }
.line-item-amount input[type="text"] { background-color: lime; }
.line-item-frequency { background-color: purple; }
*/

.line-item-amount input[type="text"] {
  text-align: right;
  padding-left: 1em;
}

.line-item-amount:before {
  content: '$';
  position: absolute;
  margin: 0.37em;
}

.line-item-frequency {
  padding: 5px !important;
}

.line-item-frequency select {
  font-size: 14px;
}