<!-- ko foreach: $data -->

<div class="budget-category">
  <div class="budget-category-head row">
    <div class="budget-category-head-title col-xs-9">
      <i data-bind="css: 'icon-' + icon"></i>
      <span data-bind="text: description"></span>
    </div>
    <div class="budget-category-head-total col-xs-3">
      <span data-bind="text: totalFormatted"></span>
    </div>
  </div>
  <div class="budget-category-body">
    <!-- ko foreach: lineItems -->
      <!-- ko component: {
        name: 'line-item',
        params: $data
      } --><!-- /ko -->
    <!-- /ko -->

    <form data-bind="submit: addLineItem">
      <!-- ko component: {
        name: 'line-item',
        params: emptyLineItem
      } --><!-- /ko -->
      <button type="submit" style="display: none;"></button>
    </form>
  </div>
</div>

<!-- /ko -->