<% include header %>

  <script>require([
      'knockout',
      'lodash',
      'vm/budget-vm'
    ], function (ko, _, Budget) {
      var viewModel = new Budget({
        categoriesUrl: '/budget/categories'
      });

      $(function () {
        ko.applyBindings(viewModel);

      });
    });
  </script>

  <section class="budget"
      data-bind="component: {
        name: 'categories',
        params: categories
      }"></section>

<% include footer %>