<% include header %>

  <script>
    require([
      'knockout',
      'lodash',
      'vm/category-vm',
      'vm/line-item-vm'
    ], function (ko, _, Category, LineItem) {
      var rawData = [
        {
          icon: 'house',
          description: 'Home',
          color: '#aaccaa',
          lineItems: [
            {
              description: 'Rent',
              amount: 150000,
              frequency: 'mo.'
            }, {
              description: 'SDGE',
              amount: 13000,
              frequency: 'mo.'
            }
          ]
        }, {
          icon: 'car',
          description: 'Car',
          color: '#aaaacc',
          lineItems: [
            {
              description: 'Gas',
              amount: 5000,
              frequency: 'wk.'
            }
          ]
        }
      ];

      var viewModel = {
        categories: _.map(rawData, Category)
      };

      $(function () {
        ko.applyBindings(viewModel);
      });
    });
  </script>

  <section class="budget"
      data-bind="foreach: categories">

    <!-- ko component: {
      name: 'category',
      params: $data
    } --><!-- /ko -->

  </section>

<% include footer %>